[submodule "YankRing.vim"]
    path = YankRing.vim
    url = https://github.com/vim-scripts/YankRing.vim.git
    ignore = dirty
[submodule "gundo.vim"]
    path = gundo.vim
    url = https://github.com/sjl/gundo.vim.git
[submodule "tlib_vim"]
    path = tlib_vim
    url = https://github.com/tomtom/tlib_vim.git
[submodule "lusty"]
    path = lusty
    url = https://github.com/sjbach/lusty.git
[submodule "nerdtree"]
    path = nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "python-vim-instant-markdown"]
    path = python-vim-instant-markdown
    url = https://github.com/liujoey/python-vim-instant-markdown.git
[submodule "vim-addon-mw-utils"]
    path = vim-addon-mw-utils
    url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-django"]
    path = vim-django
    url = https://github.com/cwood/vim-django.git
    ignore = dirty
[submodule "vim-fugitive"]
    path = vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-markdown"]
    path = vim-markdown
    url = https://github.com/tpope/vim-markdown.git
[submodule "vim-repeat"]
    path = vim-repeat
    url = https://github.com/tpope/vim-repeat.git
[submodule "vim-slime"]
    path = vim-slime
    url = https://github.com/jpalardy/vim-slime.git
[submodule "vim-surround"]
    path = vim-surround
    url = https://github.com/tpope/vim-surround.git
[submodule "vim-virtualenv"]
    path = vim-virtualenv
    url = https://github.com/jmcantrell/vim-virtualenv.git
    ignore = dirty
[submodule "pyflakes-vim"]
    path = pyflakes-vim
    url = https://github.com/kevinw/pyflakes-vim.git
    ignore = dirty
[submodule "vim-easymotion"]
    path = vim-easymotion
    url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "ctrlp.vim"]
    path = ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
[submodule "delimitMate"]
    path = delimitMate
    url = https://github.com/Raimondi/delimitMate.git
[submodule "vim-multiple-cursors"]
    path = vim-multiple-cursors
    url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "tcomment_vim"]
    path = tcomment_vim
    url = https://github.com/tomtom/tcomment_vim.git
[submodule "YouCompleteMe"]
    path = YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim-misc"]
    path = vim-misc
    url = https://github.com/xolox/vim-misc.git
[submodule "ack.vim"]
	path = ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
